/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/04/2017, 05:52:50 PM
    Author     : HP PAVILON
*/
@import url('imgaccounting.css');
@import url('imgtrainings.css');
.imgflotleft{
    float: left;
}
.imgflotright{
    float: right;
}
#imgbarner{
    width: 1200px;
    height: 100%;
    background-color: beige;
    border-radius: 5px 5px 5px 5px;
    text-align: justify;
}
