<div>
    <fieldset>
        <legend>Implementación Contable</legend>
        <h4> Hoy en día todas las organizaciones, por pequeña que sea, debe contar con una estructura contable que no solo le permita tener en orden sus finanzas, si no también dar cumplimiento
            a la normatividad colombiana. Accex & Asociados le asesora en todo el proceso de implementación de la contabilidad, desde el sistema contable hasta la gestión diaria de transacciones.
        </h4>
    </fieldset>   
    <img src="img/imp.jpg" alt="" id="imgaccounting_implementation"/>
</div>