<div>
    <fieldset>
        <legend>Auditoría y Revisoría Fiscal</legend>
        <h4> El control organizacional y la buena gestión, son necesarios para que una organización opere en la confianza de que todos sus procesos son adecuados. Accex & Asociados se encarga de revisar y auditar aquellas áreas críticas en las que su empresa presenta inconvenientes; y así mismo elabora un plan de mejoramiento o contingencia de acuerdo a las necesidades. </h4>
        <h4> Servicios </h4>
        <div class="imgflotleft">
            <ul>
                <li>
                    <h4>Auditoría de Control Interno</h4> 
                </li>  
                <li>
                    <h4>Auditoría de Políticas Contables</h4> 
                </li> 
                <li>
                    <h4>Auditoría Integral</h4> 
                </li> 
                <li>
                    <h4>Auditoría de Sistemas de Información</h4> 
                </li> 
                <li>
                    <h4>Auditoría por área</h4> 
                </li> 
                <li>
                    <h4>Auditoría Informática</h4> 
                </li>
                <li>
                    <h4>Revisoría Fiscal</h4> 
                </li>                
            </ul>
        </div>
        <img src="img/aud.jpg" alt="" id="imgaudit_and_tax_review" class="imgflotleft"/>
    </fieldset> 
</div>
