<div>
    <fieldset>
        <legend>Costos y Sistema Productivo</legend>
        <h4> En las organizaciones manufactureras es muy importante un sistema de costos sólido que genere excelentes resultados. Accex & Asociados lo ayudan a implementar las herramientas necesarias
        para no recaer en sobrecostos.</h4>
        <div class="imgflotleft">
        <h4> Servicios </h4>
        <ul>
            <li>
                <h4>Implementación de sistema de costos</h4> 
            </li>  
            <li>
                <h4>Análisis de costos establecidos</h4> 
            </li>          
        </ul>
        </div>
        <img src="img/cpn.jpg" alt="" id="imgcosts_and_production_system" class="imgflotleft"/>
    </fieldset>   
</div>