<div>
    <fieldset>
        <legend>Análisis Financiero</legend>
        <h4> Para las organizaciones es necesario conocer el resultado de sus operaciones a tráves de variables que cuantifiquen el estado de las mismas. Accex & Asociados lo ayudan
        a crear e interpretar todas las herramientas para dar cuenta de la situación de la empresa.</h4>
        <div class="imgflotleft">
        <h4> Servicios </h4>
        <ul>
            <li>
                <h4>Análisis financiero</h4> 
            </li>  
            <li>
                <h4>Proyección financiera</h4> 
            </li> 
            <li>
                <h4>Presupuestos</h4> 
            </li> 
            <li>
                <h4>Análisis organizacional</h4> 
            </li> 
        </ul>
        </div>
        <img src="img/aaf.jpg" alt="" id="imgfinancial_analysis" class="imgflotleft"/>
    </fieldset>   
</div>