<div>
    <fieldset>
        <legend>Normas Internacionales</legend>
        <h4> Con la globalización y la entrada en vigencia de las normas internacionales, todas las organizaciones necesitan implementar políticas que permitan cumplir con tales requerimientos. Accex & Asociados lo acompaña durante todo este proceso de implementación. </h4>

        <div class="imgflotleft">
            <h4> Servicios </h4>
            <br>
            <ul>
                <li>
                    <h4>Normas Internacionales pra PYMES</h4> 
                </li>  
                <li>
                    <h4>Normas Internacionales para Microempresas</h4>  
                </li>
            </ul>

        </div>
        <img src="img/ni.jpg" alt="" id="imginternationalstandards" class="imgflotleft"/>
    </fieldset>   
</div>

