<div>
    <fieldset>
        <legend>Tributaria</legend>
        <h4> Accex & Asociados se encarga de asesorarlo en todo el tema tributario de su organización. Contamos con la capacidad de analizar y gestionar todos los impuestos vigentes en Colombia. </h4>
        <h4> Servicios </h4>
        <div class="imgflotleft">
            <ul>
                <li>
                    <h4>Impuestos nacionales</h4> 
                </li>  
                <li>
                    <h4>Impuestos municipales</h4> 
                </li> 
                <li>
                    <h4>Impuestos especiales</h4> 
                </li> 
                <li>
                    <h4>Tributación aduanera</h4> 
                </li> 
                <li>
                    <h4>Devoluciones</h4> 
                </li> 
                <li>
                    <h4>Requerimientos</h4> 
                </li>
                <li>
                    <h4>Procedimiento tributario</h4> 
                </li>
                <li>
                    <h4>Régimen sancionatorio</h4> 
                </li>
                <li>
                    <h4>Planeación fiscal</h4> 
                </li>            
            </ul>
        </div>
        <img src="img/tri.jpg" alt="" id="imgtributary" class="imgflotleft"/>
    </fieldset>   
</div>