<div>
    <fieldset>
        <legend>Quienes Somos</legend>
        <h4> En el mundo actual, la economía y la tecnología van de la mano; para las organizaciones no solo es importante mantener un sistema contable y financiero estable, sino también una estructura tecnológica sólida y confiable; por esta razón, Accex & Asociados es su mejor aliado para el crecimiento de su empresa, brindando servicios de calidad, que garantizarán su tranquilidad. </h4>
        <img src="img/inicio.jpg" alt="" id="imgstart"/>
    </fieldset>
</div>