<div>
    <fieldset>
        <legend>Contabilidad Básica</legend>
        <h4> Contabilidad adaptada a los estándares básicos de las organizaciones, ideal para entender y comprender el entorno contable de una empresa.</h4>
        <div class="imgflotleft">
        <h4> Temas </h4>
        <ul>
            <li>
                <h4>Empresa</h4> 
            </li>  
            <li>
                <h4>Partida doble y ecuación patrimonial</h4> 
            </li> 
            <li>
                <h4> Plan Único de Cuentas</h4> 
            </li> 
            <li>
                <h4>Transacciones básicas</h4> 
            </li>
            <li>
                <h4>Soportes de contabilidad</h4> 
            </li>  
            <li>
                <h4>Impuestos básicos: IVA, Ret. Fuente y Ret. ICA</h4> 
            </li> 
            <li>
                <h4> Inventarios</h4> 
            </li> 
            <li>
                <h4>Generalidades de nómina</h4> 
            </li>
            <li>
                <h4>Informes básicos contables</h4> 
            </li>
        </ul>
        </div>
        <div class="imgflotleft">
            <img src="img/capcb.jpg" alt="" id="imgbasic_accounting" class="imgflotright"/>
        </div>
        <div id="imgtime"><h4> Duración: 25 Horas </h4></div>
    </fieldset>   
</div>