<div>
    <fieldset>
        <legend>CG-UNO básico</legend>
        <h4> El uso de este sistema se ha vuelto muy generalizado entre las organizaciones, haciendo necesario que los colaboradores conozcan de los procesos básicos del mismo.</h4>
        <div class="imgflotleft">
            <h4> Temas </h4>
            <ul>
                <li>
                    <h4>Parametrización básica</h4> 
                </li>  
                <li>
                    <h4>Facturación: Compras y ventas</h4> 
                </li> 
                <li>
                    <h4>Inventarios: Kardex</h4> 
                </li> 
                <li>
                    <h4>Nómina: Liquidación de nómina</h4> 
                </li>
                <li>
                    <h4>Notas y ajustes</h4> 
                </li> 
                <li>
                    <h4>Saldos iniciales</h4> 
                </li> 
                <li>
                    <h4>Informes</h4> 
                </li>  
            </ul>
        </div>
        <img src="img/capcg.jpg" alt="" id="imgcg_uno" class="imgflotleft"/>
        <div id="imgtime"> <h4> Duración: 16 Horas </h4></div>
    </fieldset>   
</div>