<div>
    <fieldset>
        <legend>Contabilidad de Costos</legend>
        <h4> Especializada para el sector manufacturero, requiere de un entendimiento de la contabilidad en general.</h4>
        <div class="imgflotleft">
            <h4> Temas </h4>
            <ul>
                <li>
                    <h4>Inventarios</h4> 
                </li>  
                <li>
                    <h4>Costos por producción</h4> 
                </li> 
                <li>
                    <h4>Costos por actividades - ABC</h4> 
                </li> 
                <li>
                    <h4>Distribución CIF</h4> 
                </li>
                <li>
                    <h4>Proyección presupuestal de costos</h4> 
                </li>  
            </ul>
        </div>
        <img src="img/capcc.jpg" alt="" id="imgcost_accounting" class="imgflotleft"/>
        <div id="imgtime"> <h4> Duración: 20 Horas </h4></div>
    </fieldset>   
</div>