<div>
    <fieldset>
        <legend>Contabilidad Intermedia</legend>
        <h4> Contabilidad profunda adecuada para el entendimiento global de las organizaciones, ideal para aquellos que poseen fundamentos contables y que requieren profundizar en temas específicos.</h4>
        <div class="imgflotleft">
            <h4> Temas </h4>
            <ul>
                <li>
                    <h4>Transacciones especiales y ajustes</h4> 
                </li>  
                <li>
                    <h4>Inventarios</h4> 
                </li> 
                <li>
                    <h4>Nómina</h4> 
                </li> 
                <li>
                    <h4>Liquidación de impuestos y conciliación fiscal</h4> 
                </li>
                <li>
                    <h4>Estados financieros</h4> 
                </li>  
            </ul>
        </div>
        <img src="img/capci.jpg" alt="" id="imgintermediate_accounting" class="imgflotleft"/>
        <div id="imgtime"> <h4> Duración: 20 Horas </h4></div>
    </fieldset>   
</div>