<div>
    <fieldset>
        <legend>Normas internacionales</legend>
        <h4> Con la entrada en vigencia de las normas internacionales, se hace necesario que colaboradores y auxiliares tengan conocimientos básicos en la implementación de la información financiera.</h4>
        <div class="imgflotleft">
            <h4> Temas </h4>
            <ul>
                <li>
                    <h4>Políticas contables</h4> 
                </li>  
                <li>
                    <h4>Propiedad, planta y equipo</h4> 
                </li> 
                <li>
                    <h4>Inventarios</h4> 
                </li> 
                <li>
                    <h4>Beneficios a empleados</h4> 
                </li>
                <li>
                    <h4>Nuevo marco normativo</h4> 
                </li>  
                <li>
                    <h4>Estados financieros</h4> 
                </li>  
            </ul>
        </div>
        <img src="img/capni.jpg" alt="" id="imginternational_standards" class="imgflotleft"/>
        <div id="imgtime"> <h4> Duración: 25 Horas </h4></div>
    </fieldset>   
</div>