<div>
    <fieldset>
        <legend>Actualización tributaria</legend>
        <h4> Con este curso logrará estar actualizado en materia impositiva, ya que los cambios continuos en el ámbito fiscal, crean la necesidad de mantenerse al día en este aspecto.</h4>
        <div class="imgflotleft">
            <h4> Temas </h4>
            <ul>
                <li>
                    <h4>Impto. a la Renta y Complementarios</h4> 
                </li>  
                <li>
                    <h4>Impto. al patrimonio</h4> 
                </li> 
                <li>
                    <h4>Impto. sobre las ventas</h4> 
                </li> 
                <li>
                    <h4>Retención en la fuente</h4> 
                </li>
                <li>
                    <h4>Impto. de Industria y Comercio, avisos y tableros</h4> 
                </li>  
            </ul>
        </div>

        <img src="img/capat.jpg" alt="" id="imgtax_update" class="imgflotleft"/>
        <div id="imgtime"> <h4> Duración: 25 Horas </h4></div>
    </fieldset>   
</div>